/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries

WHY DOES NESTING CSS CLASSES WORK HERE??????

*/


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --n-blue: 0, 98, 185;
  --blue: rgba(0, 98, 185, 0.8);
  --red: red;
  --purple: rgba(143, 162, 255, 0.8);
  --green: rgba(31, 79, 45, 0.8);
  --light-green: rgba(101, 146, 74, 0.8);
  --brown: rgba(129, 104, 8, 0.8);
  --light-brown: rgba(186, 155, 65, 0.8);
  --main-color: var(--n-blue);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
body {
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
  
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* Set your desired background color */
  z-index: 1000;
  /* Set a high z-index value to ensure it stays on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for better visibility */
}
.parallax {


    background: linear-gradient(to right, #0062b9cc, #0062b9cc), url(../public/common-bg.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




@media only screen and (max-width: 1024px) {
  html {
    font-size: 56%;
  }
}



